
<header style="background-image: url(../images/canada.jpg);">

  <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Select Country
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li>  <a href="/abroad" class="btn btn-primary btn-xl page-scroll">Study Abroad Page</a></li>
          <hr>
          <!-- <li role="separator" class="divider"></li> -->
          <li>  <a href="/uk" class="btn btn-primary btn-xl page-scroll">UK</a></li>
          <li>  <a href="/australia" class="btn btn-primary btn-xl page-scroll">Australia</a></li>
          <li>  <a href="/india" class="btn btn-primary btn-xl page-scroll">India</a></li>
          <li>  <a href="/newzealand" class="btn btn-primary btn-xl page-scroll">New Zealand</a></li>
          <li>  <a href="/ireland" class="btn btn-primary btn-xl page-scroll">Ireland</a></li>
          <li>  <a href="/germany" class="btn btn-primary btn-xl page-scroll">Germany</a></li>
          <li>  <a href="/sweden" class="btn btn-primary btn-xl page-scroll">Sweden</a></li>
          <li>  <a href="/denmark" class="btn btn-primary btn-xl page-scroll">Denmark</a></li>
          <li>  <a href="/netherland" class="btn btn-primary btn-xl page-scroll">Netherland</a></li>
          <li>  <a href="/spain" class="btn btn-primary btn-xl page-scroll">Spain</a></li>
          <li>  <a href="/italy" class="btn btn-primary btn-xl page-scroll">Italy</a></li>
          <li>  <a href="/cyprus" class="btn btn-primary btn-xl page-scroll">Cyprus</a></li>
        </ul>
  </div>

    <div class="header-content">
        <div class="header-content-inner">
            <h1>Canada</h1>
            <hr>
            <p>
              India, officially the Republic of India is a country in South Asia. It is the seventh-largest country by area, the second-most populous
              country with over 1.32 billion people, and the most populous democracy in the world. ...
            </p>

            <a href="#readmore" class="btn btn-primary btn-xl page-scroll">Read More</a>
        </div>
    </div>
</header>

<div id ="readmore">
  <div class = "country">
    <h3> Study in Canada </h3>
    <hr>
      <div class = "country_details">

        <p>
          Canada is a sovereign state in the northern part of North America. Its ten provinces and three territories extend from the Atlantic
          to the Pacific and northward into the Arctic Ocean, covering 9.98 million square kilometers (3.85 million square miles), making
          it the world's second-largest country by total area and the fourth-largest country by land area. Canada's border with the United
          States is the world's longest land border. Canada is sparsely populated, the majority of its land territory being dominated by
          forest and tundra and the Rocky Mountains; about four-fifths of the country's population of 35 million people live near the southern border.
          The majority of Canada has a cold or severely cold winter climate, but southerly areas are warm in summer.The land now called Canada has been
          inhabited for millennia by various Aboriginal peoples. Norsemen settled briefly at L'Anse aux Meadows in Newfoundland around 1000 AD. Beginning
          in the 15th century, British and French colonies were established on the Atlantic coast, with the first establishment of a region called "Canada"
          occurring in 1537. As a consequence of various conflicts, the United Kingdom gained and lost territories within British North America until left,
          in the late 18th century, with what mostly geographically comprises Canada today. Pursuant to the British North America Act, on July 1, 1867,
          the colonies of Canada, New Brunswick, and Nova Scotia joined to form the autonomous federal Dominion of Canada. This began an accretion of
          provinces and territories to the self-governing Dominion to the present ten provinces and three territories forming modern Canada. In 1931,
          Canada achieved near total independence from the United Kingdom with the Statute of Westminster 1931, and full sovereignty was attained when the
          Canada Act 1982 removed the last remaining ties of legal dependence on the British parliament.
        </p>

        <br>
        <br>

        <p>
          Canada is a developed country and has the tenth highest nominal per capita income globally, and the ninth highest ranking in the Human Development Index.
          It ranks among the highest in international measurements of government transparency, civil liberties, quality of life, economic freedom, and education.
          Canada is a Commonwealth Realm member of the Commonwealth of Nations, a member of the Francophonie, and part of several major international and
          intergovernmental institutions or groupings including the United Nations, the North Atlantic Treaty Organization, the G8, the Group of Ten, the G20,
          the North American Free Trade Agreement and the Asia-Pacific Economic Cooperation forum.
        </p>

        <br>
        <br>
        <p>
          Canadian universities are known for being consistently high quality and for offering internationally accepted degrees and credentials; some are
          ranked in the top 100 by reputable sources as The Times Higher Education Supplement and Shanghai Jiao Tong University’s Academic Ranking
          of World Universities. Over 10,000 undergraduate and graduate degree programs are offered at more than 100 institutions nationwide—and,
          tuition is generally much lower than in other leading study abroad countries. Students can pursue their studies at one of Canada’s top universities
          for roughly half of what it would cost to attend an equally reputable program at a private US university. International students can expect to
          be assisted in their university studies by such resources and services as orientation sessions, support programs, academic advising, prayer rooms,
          safe walk programs, student clubs, and assistance with medical concerns or housing issues.
        </p>

        <br>
        <br>
        <p>
          International students can often work while they study, taking advantage of many cooperative education and internship opportunities.
          There are also immigration programs that international students may qualify for post-graduation. The high quality of Canadian university education
          is further enabled by membership in the Association of Universities and Colleges of Canada (AUCC) and provincial government charters.

          Canada’s high academic standards and rigorous quality controls mean that you’ll be earning a high-quality education that will open doors for your
          future and benefit your career over the long term. A Canadian degree, diploma or certificate is globally recognized as being equivalent to those
          obtained from the United States or Commonwealth countries. The quality of education and living standards in Canada are amongst the highest in
          the world, but the cost of living and tuition fees for international students are generally lower than in other countries such as the United States
          and the United Kingdom. As such, Canada is often the preferred choice for students attending college or university. Since research is one of the
          key components of a Canadian post-secondary education, you’ll have ample opportunity to become a part of this vibrant aspect of education. In Canada,
          government and industry together support research including: telecommunications, medicine, agriculture, computer technology, and environmental science.
          Under Canada’s highly dynamic and hands-on academic environment, you will not only acquire knowledge and skills in analysis and communication, 
          but you will also learn how to express yourself, demonstrate your creativity, and develop your self-confidence! Teachers and professors are always
          available and eager to help with lessons, and studies fuse academic excellence with interaction and collaboration in the classroom.

        </p>
      </div>
  </div>
</div>
