
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Cyprus</h1>
            <hr>
            <p>
              Study in Cyprus
            </p>
        </div>
    </div>
</header>

<div class = "country">
  <h3> Study in Cyprus </h3>
  <hr>
    <div class = "country_details">
       <img src = "images/usa.png">
      <p>
        Cyprus officially the Republic of Cyprus is an island country in the Eastern Mediterranean Sea, off the coasts of Syria and Turkey. Cyprus is the third largest and third most populous island in the Mediterranean, and a member state of the European Union. It is located south of Turkey, west of Syria and Lebanon, northwest of Israel and Palestine, north of Egypt and east of Greece.
        The earliest known human activity on the island dates to around the 10th millennium BC. Archaeological remains from this period include the well-preserved Neolithic village of Khirokitia, and Cyprus is home to some of the oldest water wells in the world. Cyprus was settled by Mycenaean Greeks in two waves in the 2nd millennium BC. As a strategic location in the Middle East, it was subsequently occupied by several major powers, including the empires of the Assyrians, Egyptians and Persians, from whom the island was seized in 333 BC by Alexander the Great. Subsequent rule by Ptolemaic Egypt, the Classical and Eastern Roman Empire, Arab caliphates for a short period, the French Lusignan dynasty and the Venetians, was followed by over three centuries of Ottoman rule between 1571 and 1878 (de jure until 1914).
        Cyprus was placed under British administration based on Cyprus Convention in 1878 and formally annexed by Britain in 1914. Even though Turkish Cypriots made up only 18% of the population, the partition of Cyprus and creation of a Turkish state in the north became a policy of Turkish Cypriot leaders and Turkey in the 1950s. Turkish leaders for a period advocated the annexation of Cyprus to Turkey as Cyprus was considered an "extension of Anatolia" by them; while since the 19th century, the majority Greek Cypriot population and its Orthodox church had been pursuing union with Greece, which became a Greek national policy in the 1950s. Following nationalist violence in the 1950s, Cyprus was granted independence in 1960. In 1963, the 11-year inter communal violence between Greek Cypriots and Turkish Cypriots started, which displaced more than 25,000 Turkish Cypriots and brought the end of Turkish Cypriot representation in the republic. On 15 July 1974, a coup d'état was staged by Greek Cypriot nationalists and elements of the Greek military junta in an attempt at enosis, the incorporation of Cyprus into Greece. This action precipitated the Turkish invasion of Cyprus, which led to the capture of the present-day territory of Northern Cyprus the following month, after a ceasefire collapsed, and the displacement of over 150,000 Greek Cypriots and 50,000 Turkish Cypriots. A separate Turkish Cypriot state in the north was established in 1983. These events and the resulting political situation are matters of a continuing dispute.
        The Republic of Cyprus has de jure sovereignty over the island of Cyprus and its surrounding waters, according to international law, except for the British Overseas Territory of Akrotiri and Dhekelia, administered as Sovereign Base Areas. However, the Republic of Cyprus is de facto partitioned into two main parts; the area under the effective control of the Republic, comprising about 59% of the island's area, and the north, administered by the self-declared Turkish Republic of Northern Cyprus, which is recognised only by Turkey, covering about 36% of the island's area. The international community considers the northern part of the island as territory of the Republic of Cyprus occupied by Turkish forces. The occupation is viewed as illegal under international law, amounting to illegal occupation of EU territory since Cyprus became a member of the European Union.
        Cyprus is a major tourist destination in the Mediterranean. With an advanced, high-income economy and a very high Human Development Index, the Republic of Cyprus is a member of the Commonwealth since 1961 and was a founding member of the Non-Aligned Movement until it joined the European Union on 1 May 2004. On 1 January 2008, the Republic of Cyprus joined the Eurozone.
        Higher education in Cyprus is provided in both public and private institutions and the system is under constant development. The Department of Higher Tertiary Education (DAAE) in Cyprus has taken big measures to increase funding, research and interest for higher education, three state universities has been opened. The DAAE also established a Council of Educational Evaluation-Accreditation which aims to keep a constant level of education in Cyprus and make sure that infrastructure and equipment live up to these standards. Since Cyprus became a member of the EU in 2004 the role of higher education in the country has grown even bigger and the Open University of Cyprus has opened its doors. The international dimension of education is important in Cyprus where international students receive a quality education in a safe, friendly environment at an affordable cost. Lifelong friendships and networks are formed between Cypriot and overseas students which later enhance the cultural and trade relationships between our countries. Cyprus can offer Higher Education of high quality standards and is able to facilitate students with the necessary knowledge and skills to work in a contemporary global marketplace. Pleasant Mediterranean climate and picturesque sandy beaches can only add to this once-in-a-lifetime experience of being a student in Cyprus.
      </p>
    </div>
</div>
