
<header style="background-image: url(../images/header.jpg);">

  <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Select Country
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li>  <a href="/abroad" class="btn btn-primary btn-xl page-scroll">Study Abroad Page</a></li>
          <hr>
          <!-- <li role="separator" class="divider"></li> -->
          <li>  <a href="/uk" class="btn btn-primary btn-xl page-scroll">UK</a></li>
          <li>  <a href="/australia" class="btn btn-primary btn-xl page-scroll">Australia</a></li>
          <li>  <a href="/canada" class="btn btn-primary btn-xl page-scroll">Canada</a></li>
          <li>  <a href="/newzealand" class="btn btn-primary btn-xl page-scroll">New Zealand</a></li>
          <li>  <a href="/ireland" class="btn btn-primary btn-xl page-scroll">Ireland</a></li>
          <li>  <a href="/sweden" class="btn btn-primary btn-xl page-scroll">Sweden</a></li>
          <li>  <a href="/denmark" class="btn btn-primary btn-xl page-scroll">Denmark</a></li>
          <li>  <a href="/netherland" class="btn btn-primary btn-xl page-scroll">Netherland</a></li>
          <li>  <a href="/spain" class="btn btn-primary btn-xl page-scroll">Spain</a></li>
          <li>  <a href="/italy" class="btn btn-primary btn-xl page-scroll">Italy</a></li>
          <li>  <a href="/cyprus" class="btn btn-primary btn-xl page-scroll">Cyprus</a></li>
          <li>  <a href="/india" class="btn btn-primary btn-xl page-scroll">India</a></li>
        </ul>
  </div>

    <div class="header-content">
        <div class="header-content-inner">
            <h1>Germany</h1>
            <hr>
            <p>
              Study in Germany
            </p>
        </div>
    </div>
</header>

<div class = "country">
  <h3> Study in Germany </h3>
  <hr>
    <div class = "country_details">
      
      <p>
        Germany officially the Federal Republic of Germany is a federal parliamentary republic in West-Central Europe. It includes 16 constituent states and covers an area of 357,021 square kilometres (137,847 sq mi) with a largely temperate seasonal climate. Its capital and largest city is Berlin. With about 81.5 million inhabitants, Germany is the most populous member state in the European Union. After the United States, it is the second most popular migration destination in the world.
        Various Germanic tribes have occupied the northern parts of current Germany since classical antiquity. A region named Germania was documented before 100 AD. During the Migration Period the Germanic tribes expanded southward. Beginning in the 10th century, German territories formed a central part of the Holy Roman Empire. During the 16th century, northern German regions became the Centre of the Protestant Reformation.
        The rise of Pan-Germanism inside the German Confederation resulted in the unification of most of the German states in 1871 into the Prussian-dominated German Empire. After World War I and the German Revolution of 1918–1919, the Empire was replaced by the parliamentary Weimar Republic. The establishment of the national socialist dictatorship in 1933 led to World War II and systematic genocide. After a period of occupation by four allied governments, two German states were founded, the Federal Republic of Germany and the German Democratic Republic. In 1990, the country was reunified.
        In the 21st century, Germany is a great power and has the world's fourth-largest economy by nominal GDP, as well as the fifth-largest by PPP. As a global leader in several industrial and technological sectors, it is both the world's third-largest exporter and importer of goods. Germany is a developed country with a very high standard of living sustained by a skilled and productive society. It upholds a social security and universal health care system, environmental protection and a tuition-free university education.
        Germany was a founding member of the European Union in 1993. It is part of the Schengen Area, and became a co-founder of the Eurozone in 1999. Germany is a member of the United Nations, NATO, the G8, the G20, and the OECD. The national military expenditure is the 9th highest in the world. Known for its rich cultural history, Germany has been continuously the home of influential artists, philosophers, musicians, sportsmen, entrepreneurs, scientists and inventors.
        Germany has a long tradition of higher education reflecting the global status as a modern economy. The established universities in Germany include some of the oldest in the world, with Heidelberg University (established in 1386) being the oldest. It is followed by the Leipzig University (1409), the Rostock University (1419) and the Greifswald University. The University of Berlin, founded in 1810 by the liberal educational reformer Wilhelm von Humboldt, became the academic model for many European and Western universities.
        German higher education is one of the best in the world! Whether it’s cars or education, people everywhere recognize “Made in Germany” as a seal of quality. You can benefit from Germany‘s long and famous university tradition especially in the fields of engineering and science. A German university degree is highly respected by employers around the world. Germany’s higher education system has something for everyone! There are almost 450 state-accredited universities with some 17,500 degree programmes in Germany. German universities offer degree programmes in every possible subject and academic level – be it bachelors, masters, state examinations or doctoral degrees. General universities focus strongly on scientifically oriented study in a wide range of disciplines. Universities of applied science, on the other hand, are very practice-oriented. If you’re more interested in artistic subjects, you can enroll at a college of art, film or music. More and more courses and degree programmes are being offered in English, especially at the master’s degree level. This is good news if you don’t know any German or if your German isn’t good enough yet. You’ll find an overview of international degree programmes in Germany in the large DAAD database. Around twelve percent of students at German universities come from foreign countries, just like you. You can make friends from around the world, become acquainted with different countries and expand your horizons. The universities offer support to make your start in Germany as easy as possible. There are many mentoring programmes available, such as “Buddy” and “Tandem” programmes. Students normally don’t have to pay tuition fees at German universities, and if so, the fees are very low. Most German universities receive considerable financing from the government. Bachelor’s degree programmes are usually tuition-free at public universities. Some master’s degree programmes, however, come with tuition fees, but they’re not as high as in other countries. Compared with other European countries, the cost of living in Germany is reasonable. The cost of food, rent, clothing and cultural activities are equivalent to the EU average. There are also a number of concessions available to students. You can receive reduced prices at theatres, museums, opera houses, cinemas, swimming pools and other institutions. All you have to do is present your student ID. As an international student with outstanding academic achievement, you have good chances of receiving a scholarship to finance your studies in Germany. The German Academic Exchange Service (DAAD) is one of the largest scholarship organizations in the world and offers countless scholarship programmes. No matter what your country, subject or status, you’ll find a scholarship that matches your profile and needs in the DAAD scholarship database! And not only does the database contain programmes offered by the DAAD, but also many other organizations in Germany. Germany is a safe country – also on an international scale. The police are reliable and help you in every situation. Whether you live in a big city or in the country, you can move freely day or night without having to take any special precautions. Beaches and mountains, medieval city centers and pulsating metropolises, and above all, lots of nature. Germany is a diverse country with many facets! Living in Germany means living in the middle of Europe surrounded by many other countries. Whether you’d like to visit Paris, Prague, Rome or Copenhagen, you have a wide range of destinations at your doorstep. Within a couple of hours by train or plane, you can experience an entirely different culture and language. Weekend trips are no problem and affordable. German is one of the ten most spoken languages in the world. Some 185 million people worldwide can speak German. You can still study in Germany even if you don’t know German, but having some knowledge of the language can make everyday life easier and help you make friends faster. Becoming student of undergraduate/graduate or doctoral studies in Germany – the leading scientific nation, you provide yourself a chance to work inside a highly advanced research infrastructure. This embraces laboring by using instruments, resources and other service research facilities of a 15 million of euros investment. Established to provide a proper environment for training, and technology/knowledge transfer, such wide-ranging research infrastructures serve as a home for many doctoral students, scientists and researchers.
      </p>
    </div>
</div>
