
<header style="background-image: url(../images/ireland.jpg);">

  <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Select Country
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li>  <a href="/abroad" class="btn btn-primary btn-xl page-scroll">Study Abroad Page</a></li>
          <hr>
          <!-- <li role="separator" class="divider"></li> -->
          <li>  <a href="/uk" class="btn btn-primary btn-xl page-scroll">UK</a></li>
          <li>  <a href="/australia" class="btn btn-primary btn-xl page-scroll">Australia</a></li>
          <li>  <a href="/canada" class="btn btn-primary btn-xl page-scroll">Canada</a></li>
          <li>  <a href="/newzealand" class="btn btn-primary btn-xl page-scroll">New Zealand</a></li>
          <li>  <a href="/germany" class="btn btn-primary btn-xl page-scroll">Germany</a></li>
          <li>  <a href="/sweden" class="btn btn-primary btn-xl page-scroll">Sweden</a></li>
          <li>  <a href="/denmark" class="btn btn-primary btn-xl page-scroll">Denmark</a></li>
          <li>  <a href="/netherland" class="btn btn-primary btn-xl page-scroll">Netherland</a></li>
          <li>  <a href="/spain" class="btn btn-primary btn-xl page-scroll">Spain</a></li>
          <li>  <a href="/italy" class="btn btn-primary btn-xl page-scroll">Italy</a></li>
          <li>  <a href="/cyprus" class="btn btn-primary btn-xl page-scroll">Cyprus</a></li>
          <li>  <a href="/india" class="btn btn-primary btn-xl page-scroll">India</a></li>
        </ul>
  </div>

    <div class="header-content">
        <div class="header-content-inner">
            <h1>Ireland</h1>
            <hr>
            <p>
              Ireland also known as the Republic of Ireland is a sovereign state in north-western Europe occupying about five-sixths of the island of Ireland.
              The capital and largest city is Dublin, which is located on the eastern part of the island, and whose metropolitan area is home to around a third of
              the country's 4.6 million inhabitants. ...
            </p>

            <a href="#readmore" class="btn btn-primary btn-xl page-scroll">Read More</a>
        </div>
    </div>
</header>

<div id="readmore">
  <div class = "country">
    <h3> Study in Ireland </h3>
    <hr>
      <div class = "country_details">

        <p>
          Ireland also known as the Republic of Ireland is a sovereign state in north-western Europe occupying about five-sixths of the island of Ireland.
          The capital and largest city is Dublin, which is located on the eastern part of the island, and whose metropolitan area is home to around a third of
          the country's 4.6 million inhabitants. The state shares its only land border with Northern Ireland, a part of the United Kingdom. It is otherwise
          surrounded by the Atlantic Ocean, with the Celtic Sea to the south, Saint George's Channel to the south-east and the Irish Sea to the east.
          It is a unitary, parliamentary republic. The legislature, the Oireachtas, consists of a lower house, Dáil Éireann, an upper house, Seanad Éireann,
          and an elected President (Uachtarán) who serves as the largely ceremonial head of state, but with some important powers and duties. The head of
          government is the Taoiseach (Prime Minister, literally 'Chief', a title not used in English), who is elected by the Dáil and appointed by the President,
          and appoints other government ministers.
        </p>
        <br>
        <br>
        <p>
          The state was created as the Irish Free State in 1922 as a result of the Anglo-Irish Treaty. It had the status of dominion until 1937 when a
          new constitution was adopted, in which the state was named "Ireland" and effectively became a republic, with an elected non-executive president as
          head of state. It was officially declared a republic in 1949, following the Republic of Ireland Act 1948. Ireland became a member of the United Nations
          in December 1955. It joined the European Economic Community (EEC), the predecessor of the European Union, in 1973. The state had no formal relations
          with Northern Ireland for most of the twentieth century, but during the 1980s and 1990s the British and Irish governments worked with the Northern Ireland
          parties towards a resolution to "the Troubles". Since the signing of the Good Friday Agreement in 1998, the Irish government and Northern Ireland Executive
          have co-operated on a number of policy areas under the North-South Ministerial Council created by the Agreement.
          Ireland ranks among the top twenty-five wealthiest countries in the world in terms of GDP per capita. After joining the EEC,
          Ireland enacted a series of liberal economic policies that resulted in rapid economic growth. The country achieved considerable prosperity from
          1995 to 2007, during which it became known as the Celtic Tiger. This was halted by an unprecedented financial crisis that began in 2008,
          in conjunction with the concurrent global economic crash. In 2015, Ireland was ranked as the joint sixth (with Germany) most developed country in
          the world by the United Nations Human Development Index. It also performs well in several national performance metrics, including freedom of the press,
          economic freedom and civil liberties. Ireland is a member of the European Union and is a founding member of the Council of Europe and the OECD.
          The Irish government has followed a policy of military neutrality through non-alignment since immediately prior to World War II and the country is consequently not a member of NATO, although it is a member in Partnership for Peace.
          The Irish education system consists of Primary schools, Secondary schools (high schools), Third level colleges and universities and professional
          institutions. At the third level, institutions provide bachelor degrees of three years, master degrees of one to two years and doctorate degrees.
          Some institutions also offer shorter certificate and diploma courses.
        </p>

        <br>
        <br>
        <p>
          International students are welcome to study at any third level institution. There are nine universities in Ireland - 2 in Northern Ireland and 7
          in the Republic. These universities offer bachelor, master and doctorate programs in addition to a wide range of research.
          There are also 14 institutes of Technology that offer programs at degree, national diploma and national certificate levels in a wide
          range of subjects such as engineering and science. All education at the institutes is validated by Ireland's national certification
          authority to ensure that the education provided holds the highest international standard. Many institutes of technology hold postgraduate diploma and degree programs, both taught and research. A third type of higher education institution in Ireland is the Colleges of Education and independent third level colleges. There are five Colleges of Education for educating primary school teachers. Independent third level colleges offer certificate, diploma and degree programs in such areas as accountancy and business studies, law, humanities, hotel and catering, tourism studies and art. All these colleges have recognition and external accreditation from the national certification authority or alternatively from other institutions such as universities.
          Ireland attracts a large number of foreign students each year due to its excellent reputation for education and welcoming culture.
          Ireland being part of the EU also helps to make it easily accessible for many students from inside the EU. A further reason for Ireland's
          popularity is naturally that the language of instruction is English, making it highly accessible to students from all over the world.
          Ireland offers everything from lavish green hills to vibrant, metropolitan cities. As a student you get to experience it all, with a
          natural focus on excellent education in a society with close to no unemployment and a thriving business culture.
          Ireland offers a wide variety of opportunities, regardless of your interests and ambitions.
          Ireland has a long and strong tradition of education and is historically known as the "Island of Saints and Scholars".
          This has led to education always being highly valued and a focus for funding and development.  It has also been a
          major factor in Ireland's economic success in recent years. Among other things, Ireland was named "Best Place in the World to Live"
          by the Economist in 2005. It is also commonly referred to as the "Celtic Tiger" and was ranked the second wealthiest country per capita in
          the world by the UN Development Programme (2005).
        </p>
      </div>
  </div>
</div>
