
<header style="background-image: url(../images/header.jpg);">

  <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Select Country
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li>  <a href="/abroad" class="btn btn-primary btn-xl page-scroll">Study Abroad Page</a></li>
          <hr>
          <!-- <li role="separator" class="divider"></li> -->
          <li>  <a href="/uk" class="btn btn-primary btn-xl page-scroll">UK</a></li>
          <li>  <a href="/australia" class="btn btn-primary btn-xl page-scroll">Australia</a></li>
          <li>  <a href="/canada" class="btn btn-primary btn-xl page-scroll">Canada</a></li>
          <li>  <a href="/newzealand" class="btn btn-primary btn-xl page-scroll">New Zealand</a></li>
          <li>  <a href="/ireland" class="btn btn-primary btn-xl page-scroll">Ireland</a></li>
          <li>  <a href="/germany" class="btn btn-primary btn-xl page-scroll">Germany</a></li>
          <li>  <a href="/sweden" class="btn btn-primary btn-xl page-scroll">Sweden</a></li>
          <li>  <a href="/denmark" class="btn btn-primary btn-xl page-scroll">Denmark</a></li>
          <li>  <a href="/netherland" class="btn btn-primary btn-xl page-scroll">Netherland</a></li>
          <li>  <a href="/spain" class="btn btn-primary btn-xl page-scroll">Spain</a></li>
          <li>  <a href="/cyprus" class="btn btn-primary btn-xl page-scroll">Cyprus</a></li>
          <li>  <a href="/india" class="btn btn-primary btn-xl page-scroll">India</a></li>
        </ul>
  </div>

    <div class="header-content">
        <div class="header-content-inner">
            <h1>Italy</h1>
            <hr>
            <p>
              Study in Italy
            </p>
        </div>
    </div>
</header>

<div class = "country">
  <h3> Study in Italy </h3>
  <hr>
    <div class = "country_details">
      
      <p>
        Italy officially the Italian Republic is a unitary parliamentary republic in Europe. Italy covers an area of 301,338 km2 (116,347 sq mi) and has a largely temperate seasonal climate; due to its shape, it is often referred to in Italy as lo Stivale (the Boot). With 61 million inhabitants, it is the 4th most populous EU member state. Located in the heart of the Mediterranean Sea, Italy shares open land borders with France, Switzerland, Austria, Slovenia, San Marino and Vatican City.
        Since classical times, Greeks, Etruscans and Celts have inhabited the south, centre and north of the Italian Peninsula respectively, with various Italic peoples dispersed throughout Italy alongside other ancient Italian tribes and Greek, Carthaginian, and Phoenician colonies. The Italic tribe known as the Latins formed the Roman Kingdom, which eventually spread throughout Italy, assimilating and conquering other nearby civilizations and forming the Roman Republic. Rome ultimately emerged as the dominant power, conquering much of the ancient world and becoming the leading cultural, political, and religious centre of Western civilisation. The legacy of the Roman Empire is widespread and can be observed in the global distribution of civilian law, Republican governments, Christianity and the latin script.
        Italy has the third largest economy in the Eurozone and the eighth largest economy in the world. It has a very high level of human development and enjoys the highest life expectancy in the EU.  Italy plays a prominent role in regional and global military, cultural and diplomatic affairs. Italy is a founding and leading member of the European Union and the member of numerous international institutions, including the UN, NATO, the OECD, the OSCE, the WTO, the G7/G8, G20, the Union for the Mediterranean, the Council of Europe, Uniting for Consensus, and many more. As a reflection of its vast cultural wealth, Italy is home to 51 World Heritage Sites, the most in the world, and is one of the most visited countries.
        Besides the obvious reasons, such as delicious food, charming streets, diverse natural landscapes and history oozing from every crevasse, studying in Italy is sure to provide more than meets the eye for any study abroad student. With a varied selection of courses and disciplines, international students in Italy can take advantage of all this country has to offer, while pursuing credits in their designated field of interest. The higher education system, student life and estimated costs are all important to keep in mind before choosing a location of study. The Higher Education System in Italy is composed mainly of two parts: the university and non-university sectors.
        The University Sector is currently composed of 89 institutions, including: 58 State universities, 17 non-State universities (which are still legally acknowledged by the State), 2 universities for international students in Italy, 6 schools focused on postgraduate studies and 6 telematic universities, with disciplines in technology and information.
        The Non-University Sector can be classified into four primary groups: Design-related schools, including specialties in polytechnics for the arts, fine arts, applied arts, music conservatories and musical and choreographic studies, Higher education in language mediation, Higher Integrated Education (FIS), which provide Higher Technical Education and Training (IFTS) and Other miscellaneous disciplines (e.g. archiving, diplomatics, restoration, military studies, etc.) which are outside of the Education Ministry. As a result of these higher education system sectors, it is clear that international students in Italy have plenty of options, regardless of interest. The Italian government considers Research to be part of its strategy for maintaining high standards in the sphere of world technological development. Basic research continuously feeds technological knowhow and enables progress in international relations. Italian activity in European scientific research is highly appreciated, especially in matters regarding energy, the environment and transport. So, coming back to the original question, why study in Italy? Just like Italian cuisine, there is something for everyone, of course. Though student life, costs and your part in the higher education system may vary, time spent in Italy is sure to be engaging and fruitful.
      </p>
    </div>
</div>
