---
title: Our Mission & Values
---
<header style="background-image: url(../images/header.jpg);">
  <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        What We Are
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li>  <a href="#aboutus" class="btn btn-primary btn-xl page-scroll">About US</a></li>
          <hr>
          <!-- <li role="separator" class="divider"></li> -->
          <li>  <a href="/culture" class="btn btn-primary btn-xl page-scroll"> Our Culture</a></li>
          <li>  <a href="/qos" class="btn btn-primary btn-xl page-scroll">Quality of Service</a></li>
          <li>  <a href="/values" class="btn btn-primary btn-xl page-scroll">Our Values</a></li>
        </ul>
  </div>

    <div class="header-content">
        <div class="header-content-inner">
            <h1>Our Mission & VAlues </h1>
            <hr>
            <p>Our mission is to deliver the highest quality outcomes to prospective students and their families, to our partner institutions and to our staff. We will do this by always acting responsibility, honesty and ethically in everything we do. We assist students to extend their educational career and participate actively in preparing themselves for globalized world with correct attributes and values and enriching them to become active citizens shaping better futures. Our vision is to be the first choice of Nepalese students and a successful national organization which provides excellent educational consultancy services to students.</p>
        </div>
    </div>
</header>
