
<header style="background-image: url(../images/header.jpg);">

  <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Select Country
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li>  <a href="/abroad" class="btn btn-primary btn-xl page-scroll">Study Abroad Page</a></li>
          <hr>
          <!-- <li role="separator" class="divider"></li> -->
          <li>  <a href="/uk" class="btn btn-primary btn-xl page-scroll">UK</a></li>
          <li>  <a href="/australia" class="btn btn-primary btn-xl page-scroll">Australia</a></li>
          <li>  <a href="/canada" class="btn btn-primary btn-xl page-scroll">Canada</a></li>
          <li>  <a href="/newzealand" class="btn btn-primary btn-xl page-scroll">New Zealand</a></li>
          <li>  <a href="/ireland" class="btn btn-primary btn-xl page-scroll">Ireland</a></li>
          <li>  <a href="/germany" class="btn btn-primary btn-xl page-scroll">Germany</a></li>
          <li>  <a href="/sweden" class="btn btn-primary btn-xl page-scroll">Sweden</a></li>
          <li>  <a href="/denmark" class="btn btn-primary btn-xl page-scroll">Denmark</a></li>
          <li>  <a href="/netherland" class="btn btn-primary btn-xl page-scroll">Netherland</a></li>
          <li>  <a href="/italy" class="btn btn-primary btn-xl page-scroll">Italy</a></li>
          <li>  <a href="/cyprus" class="btn btn-primary btn-xl page-scroll">Cyprus</a></li>
          <li>  <a href="/india" class="btn btn-primary btn-xl page-scroll">India</a></li>
        </ul>
  </div>


    <div class="header-content">
        <div class="header-content-inner">
            <h1>Spain</h1>
            <hr>
            <p>
              Study in Spain
            </p>
        </div>
    </div>
</header>

<div class = "country">
  <h3> Study in Spain </h3>
  <hr>
    <div class = "country_details">
      
      <p>
        Spain officially the Kingdom of Spain is a sovereign state largely located on the Iberian Peninsula in southwestern Europe, with archipelagos in the Atlantic Ocean and Mediterranean Sea, and several small territories on and near the north African coast. Its mainland is bordered to the south and east by the Mediterranean Sea except for a small land boundary with Gibraltar; to the north and northeast by France, Andorra, and the Bay of Biscay; and to the west and northwest by Portugal and the Atlantic Ocean. Along with France and Morocco, it is one of only three countries to have both Atlantic and Mediterranean coastlines. Extending to 1,214 km (754 mi), the Portugal–Spain border is the longest uninterrupted border within the European Union.
        Spanish territory includes two archipelagos: the Balearic Islands, in the Mediterranean Sea, and the Canary Islands, in the Atlantic Ocean off the African coast. It also includes two major exclaves, Ceuta and Melilla, in continental North Africa; and the islands and peñones (rocks) of Alborán, Alhucemas, Chafarinas and Vélez de la Gomera. With an area of 505,990 km2 (195,360 sq mi), Spain is the second largest country in Western Europe and the European Union, and the fourth largest country in Europe. By population, Spain is the sixth largest in Europe and the fifth in the European Union.
        Modern humans first arrived in the Iberian Peninsula around 35,000 years ago. Iberian cultures along with ancient Phoenician, Greek and Carthaginian settlements developed on the peninsula until it came under Roman rule around 200 BCE, after which the region was named Hispania. In the Middle Ages, the area was conquered by Germanic tribes and later by the Moors. Spain emerged as a unified country in the 15th century, following the marriage of the Catholic Monarchs and the completion of the centuries-long reconquest, or Reconquista, of the peninsula from the Moors in 1492. In the early modern period, Spain became one of history's first global colonial empires, leaving a vast cultural and linguistic legacy that includes over 500 million Spanish speakers, making Spanish the world's second most spoken first language, after Chinese and before English.
        Spain is a democracy organised in the form of a parliamentary government under a constitutional monarchy. It is a middle power and a developed country with the world's fourteenth largest economy by nominal GDP and sixteenth largest by purchasing power parity. It is a member of the United Nations (UN), the European Union (EU), the Council of Europe (CoE), the Organization of Ibero-American States (OEI), the North Atlantic Treaty Organization (NATO), the Organisation for Economic Co-operation and Development (OECD), the World Trade Organization (WTO) and many other international organizations.
        Every year thousands of students from across the world make their way to Spain to attend one of the 74 universities located in the country. They come to the country for many reasons, all understanding that studying in the country is a truly enlightening experience that leaves you filled with new attitudes and concepts about life. Spain is rich in history and culture, and provides the total package for anyone coming to the area from international lands. Quality education is guaranteed for international students in Spain, as their university studies have been recognized as the first university institutions dated back to the 13th century. The only Spanish-speaking country to have modified its curriculum to the European Higher Education Area (EHEA), the Council of Universities ensures that schools in Spain reach the necessary quality levels. Thousands of undergraduate and post-graduate courses are available in a teaching system that ensures a balance between theory and practice. Spain offers internships and other experience in their many valued companies.
        Spain has a great opportunity to learn no matter what your major might be and no matter which college you have selected for your studies. The educational system is well organized and properly executed, designed to provide students of all levels with the utmost of learning opportunities. Spain is the third most popular country for international studies with around 36% of those people from the USA.  When you study in Spain you can be confident that you will be provided with the best possible education for your time.
      </p>
    </div>
</div>
