
<header style="background-image: url(../images/header.jpg);">

  <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Select Country
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li>  <a href="/abroad" class="btn btn-primary btn-xl page-scroll">Study Abroad Page</a></li>
          <hr>
          <!-- <li role="separator" class="divider"></li> -->
          <li>  <a href="/uk" class="btn btn-primary btn-xl page-scroll">UK</a></li>
          <li>  <a href="/australia" class="btn btn-primary btn-xl page-scroll">Australia</a></li>
          <li>  <a href="/canada" class="btn btn-primary btn-xl page-scroll">Canada</a></li>
          <li>  <a href="/newzealand" class="btn btn-primary btn-xl page-scroll">New Zealand</a></li>
          <li>  <a href="/ireland" class="btn btn-primary btn-xl page-scroll">Ireland</a></li>
          <li>  <a href="/germany" class="btn btn-primary btn-xl page-scroll">Germany</a></li>
          <li>  <a href="/denmark" class="btn btn-primary btn-xl page-scroll">Denmark</a></li>
          <li>  <a href="/netherland" class="btn btn-primary btn-xl page-scroll">Netherland</a></li>
          <li>  <a href="/spain" class="btn btn-primary btn-xl page-scroll">Spain</a></li>
          <li>  <a href="/italy" class="btn btn-primary btn-xl page-scroll">Italy</a></li>
          <li>  <a href="/cyprus" class="btn btn-primary btn-xl page-scroll">Cyprus</a></li>
          <li>  <a href="/india" class="btn btn-primary btn-xl page-scroll">India</a></li>
        </ul>
  </div>

    <div class="header-content">
        <div class="header-content-inner">
            <h1>Sweden</h1>
            <hr>
            <p>
              Study in Sweden
            </p>
        </div>
    </div>
</header>

<div class = "country">
  <h3> Study in Sweden </h3>
  <hr>
    <div class = "country_details">
      
       <p>
          Sweden officially the Kingdom of Sweden is a Scandinavian country in Northern Europe. It borders Norway to the west and Finland to the east, and is connected to Denmark in the southwest via a bridge-tunnel across the Öresund. At 450,295 square kilometres (173,860 sq mi), Sweden is the third-largest country in the European Union by area, with a total population of over 9.8 million. Sweden consequently has a low population density of 21 inhabitants per square kilometre (54/sq mi), with the highest concentration in the southern half of the country. Approximately 85% of the population lives in urban areas. Southern Sweden is predominantly agricultural, while the north is heavily forested. The climate is in general very mild for its northerly latitude due to significant maritime influence that in spite of this still retains warm continental summers.
          Today, Sweden is a constitutional monarchy and a parliamentary democracy, with the Monarch as the head of state. The capital city is Stockholm, which is also the most populous city in the country. Legislative power is vested in the 349-member unicameral Riksdag. Executive power is exercised by the Government, chaired by the Prime Minister. Sweden is a unitary state, currently divided into 21 counties and 290 municipalities. Sweden maintains a Nordic social welfare system that provides universal health care and tertiary education for its citizens. It has the world's eighth-highest per capita income and ranks highly in numerous metrics of national performance, including quality of life, health, education, protection of civil liberties, economic competitiveness, equality, prosperity and human development. Sweden has been a member of the European Union since 1 January 1995, but declined Eurozone membership following a referendum. It is also a member of the United Nations, the Nordic Council, Council of Europe, the World Trade Organization and the Organisation for Economic Co-operation and Development (OECD).
          Studying in Sweden is unique, and you will not find an experience like it anywhere else in the world. Swedish educational institutions provide an exciting as well as open environment, with a strong focus on cooperation. This will give you valuable skills that you cannot find at other universities across the world. The global job market rewards ambitious, innovative and perceptive team players, and you will be able to show that you are a team player because of the education that you get there. You will also learn techniques for working in a team that you may have never considered had you studied somewhere else that encouraged individuality over teamwork. Swedish master’s degree program offer unique opportunities to turn theory into practice. Many programs also work closely with the industry, offering students the possibility to combine study and practical work. You can take internships, apprenticeships, and even work part time in fields that are related to your Advanced degree studies. That means that you will get both the hands on experience and the ability to apply what you are learning to what you are doing. Knowing how to turn theory into practice can give you distinct advantages over your peers when you go into the workforce upon completing your degree. Innovative research is done by both Swedish companies and universities. The Swedes embrace creativity and institution, and are proud of what their minds have been able to create. The results of this research and creativity have generated several successful inventions that are known throughout the world.
          Swedes actually pride themselves in speaking two or more languages. Almost every Swede that you will meet speaks English, Swedish, and usually a couple more languages from some of the other counties in the European Union (German and French are popular). Many of the companies in Sweden will work in English, many universities offer courses in English, and you will hear many Swedes use English in everyday conversation. Because of the sheer number of innovative companies in Sweden, there are people from around the world in the country on a daily basis. So, as a Free Mover or Exchange Student, you will feel like you fit right in because everyone is just as different as you may feel. The neat thing about the diversity in Sweden, however, is that no matter how many different people may come in and out of the country; Sweden does not lose its cultural identity. The longer you stay in the country, the more you will come to appreciate that trait.
      </p>
    </div>
</div>
