---
title: About page
---
<header style="background-image: url(../images/header.jpg);">
  <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Select Country
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li>  <a href="/abroad" class="btn btn-primary btn-xl page-scroll">Study Abroad Page</a></li>
          <hr>
          <!-- <li role="separator" class="divider"></li> -->
          <li>  <a href="/usa" class="btn btn-primary btn-xl page-scroll">USA</a></li>
          <li>  <a href="/australia" class="btn btn-primary btn-xl page-scroll">Australia</a></li>
          <li>  <a href="/canada" class="btn btn-primary btn-xl page-scroll">Canada</a></li>
          <li>  <a href="/newzealand" class="btn btn-primary btn-xl page-scroll">New Zealand</a></li>
          <li>  <a href="/ireland" class="btn btn-primary btn-xl page-scroll">Ireland</a></li>
          <li>  <a href="/germany" class="btn btn-primary btn-xl page-scroll">Germany</a></li>
          <li>  <a href="/sweden" class="btn btn-primary btn-xl page-scroll">Sweden</a></li>
          <li>  <a href="/denmark" class="btn btn-primary btn-xl page-scroll">Denmark</a></li>
          <li>  <a href="/netherland" class="btn btn-primary btn-xl page-scroll">Netherland</a></li>
          <li>  <a href="/spain" class="btn btn-primary btn-xl page-scroll">Spain</a></li>
          <li>  <a href="/italy" class="btn btn-primary btn-xl page-scroll">Italy</a></li>
          <li>  <a href="/cyprus" class="btn btn-primary btn-xl page-scroll">Cyprus</a></li>
          <li>  <a href="/india" class="btn btn-primary btn-xl page-scroll">India</a></li>
        </ul>
  </div>

   <div class="header-content">
        <div class="header-content-inner">
            <h1>UK</h1>
            <hr>
            <p>
              Study in the UK
              <body background="images/usa.jpg">
            </p>
        </div>
    </div>
</header>

<div class = "country">
  <h3> Study in UK </h3>
  <hr>
    <div class = "country_details">
       <!-- -->
      <p>
        The United Kingdom of Great Britain and Northern Ireland, commonly known as the United Kingdom (UK) or Britain, is a sovereign state in Europe. Lying off the north-western coast of the European mainland, it includes the island of Great Britain (the name of which is also loosely applied to the whole country), the north-eastern part of the island of Ireland and many smaller islands. Northern Ireland is the only part of the UK that shares a land border with another state—the Republic of Ireland. Apart from this land border, the UK is surrounded by the Atlantic Ocean, with the North Sea to its east, the English Channel to its south and the Celtic Sea to its south-southwest. The Irish Sea lies between Great Britain and Ireland. With an area of 93,800 square miles (243,000 km2), the UK is the 80th-largest sovereign state in the world and the 11th-largest in Europe. It is also the 21st-most populous country, with an estimated 64.5 million inhabitants
        The United Kingdom is a constitutional monarchy with a parliamentary system of governance. Its capital city is London, an important global city and financial Centre with an urban population of 10,310,000, the fourth-largest in Europe and second-largest in the European Union. The current monarch—since 6 February 1952—is Queen Elizabeth II.
        The United Kingdom is a developed country and has the world's fifth-largest economy by nominal GDP and ninth-largest economy by purchasing power parity. The UK is considered to have a high-income economy and is categorized as very high in the Human Development Index, currently ranking 14th in the world. It was the world's first industrialized country and the world's foremost power during the 19th and early 20th centuries. The UK remains a great power with considerable economic, cultural, military, scientific, and political influence internationally. It is a recognized nuclear weapons state and its military expenditure ranks fourth or fifth in the world. The UK has been a permanent member of the United Nations Security Council since its first session in 1946. It has been a member state of the European Union (EU) and its predecessor, the European Economic Community (EEC), since 1973; it is also a member of the Commonwealth of Nations, the Council of Europe, the G7 finance ministers, the G7 forum, the G20, NATO, the Organization for Economic Co-operation and Development (OECD), and the World Trade Organization (WTO)
        Education in the United Kingdom is a devolved matter, with each country having a separate education system. About 38 percent of United Kingdom population has a university or college degree, which is the highest percentages in the Europe, and among the highest percentages in the world. The UK education system is flexible, so you can study in a way that suits your lifestyle and career aspirations. When you study in the UK you meet people from different nationalities, sharing their backgrounds and discovering new perspectives. The UK institutions consistently rank among the best in the world and qualifications are internationally valued and recognized. The UK undertakes 5 per cent of the world’s scientific research and produces 14 per cent of the world’s most frequently cited papers.
        Whether you want to kick-start a successful career, gain world-recognized qualifications or have an adventure, find out what the UK has to offer. Four of the top six universities in the world are in the UK. Find out what a UK education can offer you. On a UK course, you’ll gain skills and qualifications to help you succeed in any career you choose. The UK is the top destination worldwide for English language study, with courses for all ages and abilities.  UK education can be affordable, and UK qualifications are a great boost to your salary as well as your CV.  The UK is one of the most exciting and productive places in the world for research, creativity and innovation. If you have a passion for learning and want to be at the forefront of your subject, this is the place to be. The UK attracts people from all over the world with its mix of vibrant cities and gentle countryside, its range of diverse lifestyles and its cultural attractions. The UK is home to thousands of people from all around the world. The UK is a friendly, welcoming place for people of all countries, cultures and faiths.
      </p>
    </div>
</div>
