---
title: Visa Preparation page
---
<header style="background-image: url(../images/header.jpg);">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Visa Preparation Services </h1>
            <hr>
            <p>
              Welcome to Bridge Education Foundation. We are a professional Education and Migration consultancy located in Kathmandu, Nepal.
              Our professional team specialize in all kinds of temporary and permanent visas. We maintain the highest level of professional ethics,
              integrity and customer care. We will help you in each step for your visa preparation. We prepare students how to countenance interviews
              by high Commission or embassies. We also provide pre-departure briefing to the visa approved students.
            </p>
        </div>
    </div>
</header>
